color = true
engine-strict = true #strict node version
forse = false #force commands to be executed, ignoring warnings and errors
legacy-peer-deps = true
init-license = "MIT"
node-version = "v20.18.0"
npm-version = "10.8.2"
progress = true
registry = "https://registry.npmjs.org/"
timing = false
user-agent = "npm/{npm-version} node/{node-version} {platform} {arch} workspaces/{workspaces} {ci}"
