{
  "semi": false, // Указывает, нужно ли добавлять точку с запятой в конце строк
  "singleQuote": false, // Определяет, использовать ли одинарные кавычки вместо двойных. Значение true включает одинарные кавычки
  "printWidth": 110, // Определяет максимальную длину строки.
	"tabWidth": 2, // Устанавливает количество пробелов для отступов
  "trailingComma": "none", // Запятые не добавляются после последнего элемента.
  "arrowParens": "avoid", // Скобки будут опущены, если стрелочная функция имеет только один параметр.
	"bracketSpacing": true // Указывает, нужно ли добавлять пробелы между фигурными скобками в объектах
}
