{
	"semi": false,
	"singleQuote": false,
	"printWidth": 110,
	"tabWidth": 4,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"useTabs": true,
	"bracketSameLine": false
}
