.button {
	background: var(--green);
	color: var(--white);
	border: none;
	border-radius: var(--border-radius-8);
	transition: var(--transition-0-5);

	&:hover {
		background: var(--green-hover);
		cursor: pointer;
	}
}

.sizeXL {
	padding: 16px 32px;
	font-size: 20px;
}

.sizeMD {
	padding: 12px 24px;
	font-size: 18px;
}

.sizeSM {
	padding: 8px 16px;
	font-size: 16px;
}

.icon {
	display: inline-flex;
	margin: 0 8px;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}
