.button {
	background: var(--green);
	color: var(--white);
	border: none;
	padding: 8px 16px;
	border-radius: var(--border-radius-8);
	transition: var(--transition-0-5);
	font-size: 18px;

	&:hover {
		background: var(--green-hover);
		cursor: pointer;
	}
}
