input[type="radio"] {
	display: none;
}

.wrapper {
	width: 100px;
	height: 100px;
	padding: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: var(--transition-0-5);
	border-radius: var(--border-radius-16);

	&:hover {
		cursor: pointer;
	}
}

.activeButton {
	border: 2px solid var(--green);
}
.notActiveButton {
	border: 2px solid var(--gray);
}
