.wrapper {
	color: var(--green);
	font-weight: 500;
	border-bottom: 2px solid transparent;
	//width: min-content;
	width: fit-content;
	margin-left: 14px;

	&:hover {
		border-bottom: 2px solid var(--green);
	}
}

.blue {
	color: var(--blue);

	&:hover {
		border-bottom: 2px solid var(--blue);
	}
}
