.wrapper {
	animation-name: loading;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.xs {
	width: 30px;
	height: 30px;
}

.sm {
	width: 50px;
	height: 50px;
}

.md {
	width: 80px;
	height: 80px;
}

.lg {
	width: 100px;
	height: 100px;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
