.d-flex {
	display: flex;
}

.d-flex-wrap {
	flex-wrap: wrap;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: end;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: end;
}

.flex-direction-column {
	flex-direction: column;
}
