.eventHover:hover {
	cursor: pointer;
	box-shadow: var(--box-shadow);
}

.mr-15 {
	margin-right: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-25 {
	margin-top: 25px;
}

.mb-25 {
	margin-bottom: 25px;
}
