html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-weight: 400;
	font-style: normal;
	background: #fff;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center; // добавил для page auth,reg,reset-password
}

header,
main,
footer {
	flex-shrink: 0;
}

//test
//.header-main-page {
//	background: green;
//}
