/*[data-theme="light"]*/
:root {
	--white: #ffffff;
	--black: #000;
	--gray: #f2f4f7;
	--green: #3aba61;
	--green-hover: #f2f4f7;

	--border-radius-16: 16px;
	--border-color-green: #3aba61;
}

:root[data-theme="dark"] {

}

